.mb20= f.input :name

.mb20= f.input :country, priority: ['GB'], include_blank: true

.mb20= f.input :street_address

.mb20= f.input :operating_for, as: :select, collection: OPERATING_FOR

.mb20= f.input :income_band, as: :select, collection: INCOME_BANDS

.mb20= f.input :employees, as: :select, collection: EMPLOYEES

.mb20= f.input :volunteers, as: :select, collection: EMPLOYEES

.mb20= f.input :website, as: :url