.uk-width-medium-1-1.uk-margin-top
  = f.button :button, button_text, class: 'uk-button uk-button-primary uk-button-large uk-width-medium-1-2 uk-float-right', data: { disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> #{disable_with_text}</span>" }
