.cta.links style='padding: 20px;'
  | Beehive helps you find the right grant funding for your project by checking your eligibility and providing advice based a funders giving behaviour.
  strong=< link_to 'Sign up free today', root_path
