:javascript
  mixpanel.track("Page View", {"Page Name": "Edit Profile"});

#bg-color
  .uk-container.uk-container-center
    .uk-grid.uk-margin-large.uk-margin-top
      .uk-width-medium-1-1.uk-float-left.uk-animation-fade
        = simple_form_for [@recipient, @profile], method: :patch do |f|
          .uk-grid
            .uk-width-medium-2-3.uk-margin
              %h2 Update your profile

          = render partial: 'profiles/form', locals: {f: f, mode: :edit}
