:javascript
  mixpanel.track("Page View", {"Page Name": "New Profile"});
  mixpanel.track_forms("#new_profile", "Create Profile Form");

#bg-color
  .uk-container.uk-container-center
    .uk-grid.uk-margin.uk-margin-top

      .uk-width-medium-1-1.uk-float-left.uk-animation-fade
        = simple_form_for [@recipient, @profile], method: :post do |f|
          .uk-grid
            .uk-width-medium-1-1.uk-margin-bottom
              .uk-panel.cta.uk-margin
                %h2.white Tell us about your organisation
                Beehive uses the information you provide in this form to suggest funders to approach. We know it looks scary but don't worry it's a breeze. Give it a shot and see which funders are a good fit. And remember you can easily update these details if you're not happy with your recommendations. Drop us a
                = link_to 'line', 'mailto:support@beehivegiving.org'
                if you get stuck.

          = render partial: 'profiles/form', locals: {f: f, mode: :new}
