%tr
  %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
    / BEGIN BODY //
    %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "100%"}
      %tr
        %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
          %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
            %tr
              %td.bodyContainer{:style => "padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                  %tbody.mcnTextBlockOuter
                    %tr
                      %td.mcnTextBlockInner{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                        %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                          %tbody
                            %tr
                              %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", :valign => "top"}
                                %h1{:style => "margin: 0 0 12px -2px;padding: 0;display: block;font-family: Helvetica;font-size: 35px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #000000 !important;"}
                                  Grant access to your organisation.

                                %h3{:style => "margin: 0 0 0 -1px;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.5px;text-align: left;color: #000000 !important;"}
                                  #{@user.full_name} (#{@user.user_email}) has requested access to the record of your organisation, #{@organisation.name}.

                                %p{:style => "margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"}

                                = link_to "Click to grant access", '#', style: "background-color:#01a8e5; border: none; display:inline-block; cursor:pointer; padding:12px 18px; width: 100%; color:#ffffff; font-family:arial; font-size:17px; text-decoration:none; text-align:center;"

                                / edit_password_reset_url(@user.password_reset_token)

                                %p{:style => "margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"}

                                  By clicking this button, you will be granting this user access to view and edit your organisation's record on Beehive. If this user is not part of your organisation, just ignore this email. 


                                %p{:style => "margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"}
                                  P.S. Beehive is currently in active development, and we'd love your feedback and comments. Just reply to this email with your thoughts.
