.subnav{'data-uk-sticky' => ''}
  .uk-container.uk-container-center
    %ol.progress
      %li.progress-item.is-completed{"data-uk-tooltip" => "{pos:'bottom'}", :title => "Sign up"}
      %li.progress-item.is-active{"data-uk-tooltip" => "{pos:'bottom'}", :title => "Basics"}
        -# %a.progress-item-link
      %li.progress-item{"data-uk-tooltip" => "{pos:'bottom'}", :title => "Target"}
      %li.progress-item{"data-uk-tooltip" => "{pos:'bottom'}", :title => "Location"}
      %li.progress-item{"data-uk-tooltip" => "{pos:'bottom'}", :title => "Team"}
      %li.progress-item{"data-uk-tooltip" => "{pos:'bottom'}", :title => "Work"}
      %li.progress-item{"data-uk-tooltip" => "{pos:'bottom'}", :title => "Finance"}
      %li.progress-item.destination Funders!
