.uk-container.uk-container-center
  .uk-grid.uk-margin-large.uk-margin-large-top
    .uk-width-1-1.uk-margin
      %h2 Successfully granted organisation access to #{@user.first_name} (#{@user.user_email}).