:javascript
  mixpanel.track("Page View", {"Page Name": "Create Organisation Page"});
  // mixpanel.track_forms("#new_recipient", "Create Organisation Form"); # screws up ajax

- content_for :signup do
  #bg-color
    .uk-container.uk-container-center.uk-animation-fade
      .uk-margin-large.uk-margin-large-top
        .uk-width-1-1.uk-text-center
          %h4
            %span.uk-text-muted
              Sign up
              %i.uk-icon.uk-icon-angle-right.uk-icon-small
            Register

        .uk-width-1-1
          .uk-text-center.uk-container-center
            %h2.uk-margin-small Last step, and you'll be registered
            %p.uk-text-large.uk-margin-remove Your funding recommendations are waiting
          .uk-width-large-1-2.uk-container-center.uk-margin-top
            .uk-form.uk-form-stacked.uk-panel.uk-panel-box#panel.shadow
              %h4.uk-text-bold About your organisation
              = render partial: 'organisations/form'
