.uk-container.uk-container-center
  .uk-grid.uk-margin-large.uk-margin-large-top
    .uk-width-1-1.uk-margin
      %h1 Waiting for access
      %h3 You have tried to register an organisation that is already in our database. An email has been sent to the organisation's original registrant or this site's administrator to request for access. 

      %h5 If you think you are receiving this message in error, please contact support@beehive.org.
