%header.uk-container-center
  .uk-container.uk-container-center
    .header
      .header-contents
        %h1
          We found
          %span.yellow.x1-5 6
          funders for you!
        %h3 You are seeing funders that Beehive thinks would be suitable for you. Select one to find out more.
        .uk-button.uk-button-large.uk-button-primary Improve your results

.subnav-container.uk-container-center
  .uk-container.uk-container-center
    %ul.subnav
      %a{href: funder_recommended_path}
        %li.first{ class: ('active' if current_page?(funder_recommended_path)) }
          .subnav-contents
            Recommended
            %span 6
          .highlight
      %a{href: funder_eligible_path}
        %li{ class: ('active' if current_page?(funder_eligible_path)) }
          .subnav-contents
            Eligible
            %span 6
          .highlight
      %a{href: funder_ineligible_path}
        %li{ class: ('active' if current_page?(funder_ineligible_path)) }
          .subnav-contents
            Ineligible
            %span -
          .highlight
      %a{href: funders_path}
        %li{ class: ('active' if current_page?(funders_path)) }
          .subnav-contents
            All funders
            %span= Funder.where(active_on_beehive: true).count
          .highlight

    .name= @recipient.name.titleize
