.uk-grid.uk-margin-top-remove.uk-animation-fade{"data-uk-grid-match" => ""}
  - @funders.to_a.uniq.each do |funder|
    .uk-width-medium-1-2.uk-margin-bottom
      = render :partial => 'funder_card', :locals => { :funder => funder }

  .uk-width-medium-1-2.uk-margin-bottom
    .uk-width-1-1.uk-panel
      .uk-text-center.uk-vertical-align{style: 'border: 3px #ddd dashed; height: 100px;'}
        .uk-vertical-align-middle
          %h3.uk-margin-top.uk-text-muted More coming soon...
