- params[:funders_navbar] = true
.subnav{"data-uk-sticky" => ""}
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-2-3
        %ul.nav
          %a{href: funder_path(funder)}
            %li.first{ class: ('active' if current_page?(funder_path(funder))) }
              = funder.name.truncate(14)
              .highlight
          %span &rsaquo;

          %a{href: recipient_eligibility_path(funder)}
            %li{ class: ('active' if params[:controller] == 'recipients' && %w(eligibility update_eligibility).include?(params[:action])) }
              Eligiblity
              .highlight
          %span &rsaquo;

          - if @recipient.eligible?(funder)
            %a{href: recipient_apply_path(funder)}
              %li.last{ class: ('active' if current_page?(recipient_apply_path(funder))) }
                Apply
                .highlight
          - else
            %li.muted
              Apply

      -# .uk-width-1-3
      -#   %div{style: 'float: right; padding-right: 10px;'}
      -#     .muted{style: 'padding: 25px 0;'}
      -#       View funding stream:
      -#       %span.uk-form-select{"data-uk-form-select" => "{target:'a'}"}
      -#         %a.uk-text-bold
      -#         %i.uk-icon.uk-icon-caret-down.yellow
      -#         %select
      -#           %option{:value => "1"} All
      -#           %option{:value => "2"} Main Fund
      -#           %option{:value => "3"} Environment
      -#           %option{:value => "4"} Food
