#bg-color
  .uk-container.uk-container-center#similar
    .uk-margin-large-top.uk-margin-large-bottom
      %h2.uk-text-center.upcase
        Similar funders
        %span.uk-text-small Beta
      .uk-grid
        - @recipient.similar_funders(@funder).each do |funder|

          .uk-width-medium-1-3.uk-margin-bottom
            = render :partial => 'funders/funder_card', :locals => { :funder => funder }
