= content_for :title, 'Articles'

.uk-container.uk-container-center.uk-margin-large
  %h2 Articles

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top
    = cell(:article, collection: @articles).call(:index)
    = cell(:article).call(:cta)
