= content_for :title, @article.title

%header
  = cell :breadcrumb, { 'Blog' => articles_path, @article.title => article_path(@article) }, color: 'blue'

%main
  %section.maxw790.mx-auto.mt40

    .mb40.mx40
      %h1.center= @article.title

  .maxw790.mx-auto
    .px40
      .markdown= raw(@article.body_html)
