span class=['white fs12 bold', large ? 'dot-lg' : 'dot', bg_color(@eligible_status)] aria-label=eligibility_text(@eligible_status) title=eligibility_text(@eligible_status)
  / = eligibility_text(@eligible_status)
