= javascript_include_tag "//www.google.com/jsapi", "chartkick"
= line_chart [{name: "Users", data: User.recipient.group_by_day(:created_at, week_start: :mon, range: 2.weeks.ago..Time.now).count}, {name: "Non-profits", data: Recipient.joins(:users).group_by_day('users.created_at', week_start: :mon, range: 2.weeks.ago..Time.now).count}, {name: "Proposals", data: Proposal.all.group_by_day('created_at', week_start: :mon, range: 2.weeks.ago..Time.now).count}], height: '400px'
