<div class="bg-ice" style="z-index: 1;">
  <footer class="fs14 maxw1050 mx-auto px15 slate">
    <hr class="mb30" />
    <div class="flex flex-wrap justify-between items-center mb40">
      <div class="footer-links">
        <a class="mx10" href="{{ site.baseurl }}{% link pages/about.md %}">About</a>
        <a class="mx10" href="{{ site.baseurl }}{% link pages/insights.md %}" class="ml20">Insights</a>
        <a class="mx10" href="{{ site.baseurl }}{% link pages/learning.md %}" class="ml20">Learning</a>
        <a class="mx10" href="mailto:support@beehivegiving.org">Contact</a>
      </div>
      <a class="mx-auto footer-logo" href="{{ site.baseurl }}/"
        ><img
          width="28"
          alt="Beehive logo"
          src="{{ 'assets/footer-hex.svg' | relative_url }}"
        />
      </a>
      <div class="footer-links right-align">
        <a class="mx10" href="{{ site.baseurl }}{% link pages/privacy.md %}">Privacy</a>
        <a class="ml10" target="_blank" rel="noopener" href="http://www.wearecast.org.uk">© 2020 CAST</a>
      </div>
    </div>
  </footer>
</div>
<div class="bg-yellow border-bottom border-mist fs14 lh18 black bold">
  <div class="maxw1050 mx-auto pt15 px15">
    <div class="flex flex-wrap">
      <div class="mb15 md col2">
        Beehive is no longer being maintained.
      </div>
    </div>
  </div>
</div>