<header class="bg-ice">
  <div class="maxw1050 mx-auto px15">
    <nav class="pt20 mb7 heading bold flex justify-between items-center">
      <a
        id="navbar-logo"
        alt="Beehive logo"
        class="blue"
        href="{{ site.baseurl }}/"
        >Beehive</a
      >
      <div>
        <a href="{{ site.baseurl }}{% link pages/about.md %}">About</a>
        <a href="{{ site.baseurl }}{% link pages/insights.html %}" class="ml20"
          >Insights</a
        >
        <a href="{{ site.baseurl }}{% link pages/learning.md %}" class="ml20"
          >Learning</a
        >
        <span class="mx20 translucent">•</span>
        <a
          href="https://github.com/TechforgoodCAST/beehive-giving"
          target="_blank"
          rel="noopener noreferrer"
          >Source</a
        >
      </div>
    </nav>
  </div>
</header>
