%h1= @organisation.name

%h2= @organisation.contact_name


%ul
  - @profiles.each do |profile|
    %li= link_to profile.year, edit_organisation_profile_path(@organisation, profile)
  %li= link_to 'New Profile', new_organisation_profile_path(@organisation)
