= content_for :title, 'Account outdated'

%header
  = link_to 'Beehive', root_path, id: 'navbar-logo', alt: 'Beehive logo', class: 'mx-auto mt25 flex blue'

%main.flex.justify-center.items-center
  %section.perc50.md.my80.mx40
    .center
      %h1.mb20 Account outdated

      .fs18.lh25.slate The account you created last time you used Beehive is incomplete and now out of date.

    %hr.maxw790.my40

    %p.mb20 Please remove your old account using the button below before creating a new one to continue using the site.

    .mb30.p15.heading.red.rounded.border.border-pale-red.bg-light-red
      %strong IMPORTANT:
      Deleting your old account is irreversible, and neccessary if you wish to continue using the site fully.

    .center
      = link_to 'Delete old account', legacy_reset_path(@current_user), class: 'btn white bg-red mb10'
      = link_to 'Sign out', logout_path, class: 'btn blue mb10'