-# - params[:funders_navbar] = true
.subnav{"data-uk-sticky" => ""}
  .uk-container.uk-container-center
    %ul.nav
      %a
        %li.first.active
          Non-profits
          .highlight
      %span &middot;

      %a
        %li
          Previous funding
          .highlight
