= column_chart data.select{|k, v| k != "Unknown"}, height: local_assigns.fetch(:height, '100px'), stacked: local_assigns.fetch(:stacked, false), ytitle: local_assigns.fetch(:ytitle, nil), library: {options: {scales: {xAxes: {display: false}}}}
