= column_chart data.select{|k, v| k != "Unknown"}, height: local_assigns.fetch(:height, nil), stacked: local_assigns.fetch(:stacked, false)
- if data.select {|k, v| k == "Unknown"}.present?
  = "Plus #{number_with_delimiter data.find{|k, v| k == "Unknown"}[1]} unknown"
