= search_form_for @search, url: recipient_dashboard_path do |f|
  %span Name:
  = f.text_field :name_cont, :placeholder => "name contains..."
  %br/
  %br/
  = f.submit "Filter", :class => "uk-button uk-button-primary"
  %h4 Sort By:
  = sort_link @search, :name, 'Name', default_order: :desc
