.uk-panel-box{style: 'height: 60px;'}
  .uk-width-1-1
    = truncate("#{funder.mission}", length: 120, separator: ' ')
-# .uk-panel-box{style: 'height: 20px;'}
-#   .uk-width-1-1
-#     .uk-button.uk-button-mini.uk-button-primary Youth

  -# %h4 Attributes
  -# %ul
  -#   %li
  -#     %strong Next Deadline:
    -#   = funder.attributes.next_deadline
