.p20.bg-ice.flex.justify-between.items-center.border-bottom.border-mist
  %h4.bold
    Your answers for assessment
    = precede '#' do
      = @assessment.id

.px20.pt20
  - @criteria&.each do |c|

    .flex.items-center.quiz.mb20
      .input_wrapper.boolean

        - if yes_selected?(@answers[c.id], c.invert)
          %input{ type: 'radio', checked: true }
          %label Yes
          %input{ type: 'radio' }
          %label No
        - else
          %input{ type: 'radio' }
          %label Yes
          %input{ type: 'radio', checked: true }
          %label No

      %label.mx20.fs15
        = c.details

        - if @answers[c.id] == false
          .fs14.red.mt7 You do not meet this criteria