= content_for :title, 'Instructions sent'

%div{ style: 'max-width: 690px; margin: 40px auto;' }
  Please follow the instructions we’ve sent to
  -# TODO: helper?
  = @user.email.gsub(/(?<=.{2})(.*)@/, '...@')
  and set a new password.

  = link_to 'Home', root_path