%table.mb20
  %caption.fs14.left-align.italic Subscription plans
  %thead
    %tr
      %th.p10 Plan
      %th.p10 Price
      %th.p10 Features
  %tbody
    %tr
      %td.p10
        Basic
        %br
          %small Default
      %td.p10 Free
      %td.p10
        = render partial: 'accounts/free_features'
    %tr.bg-ice
      %td.p10
        Pro - Micro
        %br
          %small <£10k income
      %td.p10
        £24
        %small per year
      %td.p10{ rowspan: 5 }
        = render partial: 'accounts/premium_features'
    %tr.bg-ice
      %td.p10
        Pro - Small
        %br
          %small <£100k income
      %td.p10
        £48
        %small per year
    %tr.bg-ice
      %td.p10
        Pro - Medium
        %br
          %small <£1m income
      %td.p10
        £96
        %small per year
    %tr.bg-ice
      %td.p10
        Pro - Large
        %br
          %small <£10m income
      %td.p10
        £192
        %small per year
    %tr.bg-ice
      %td.p10
        Pro - Major
        %br
          %small £10m+ income
      %td.p10
        £384
        %small per year

%p Beehive is a project of a charity and all income is reinvested back into the development and running of the platform.
