%table.uk-table
  %caption Subscription plans
  %thead
    %tr
      %th Plan
      %th Price
      %th Features
  %tbody
    %tr.uk-table-middle
      %td
        Basic
        %br
          %small Default
      %td Free
      %td
        = render partial: 'accounts/free_features'
    %tr.uk-table-middle.off-white.bg
      %td
        Pro - Micro
        %br
          %small <£10k income
      %td
        £50
        %small per year
      %td{ rowspan: 5 }
        = render partial: 'accounts/premium_features'
    %tr.uk-table-middle.off-white.bg
      %td
        Pro - Small
        %br
          %small <£100k income
      %td
        £100
        %small per year
    %tr.uk-table-middle.off-white.bg
      %td
        Pro - Medium
        %br
          %small <£1m income
      %td
        £300
        %small per year
    %tr.uk-table-middle.off-white.bg
      %td
        Pro - Large
        %br
          %small <£10m income
      %td
        £1,200
        %small per year
    %tr.uk-table-middle.off-white.bg
      %td
        Pro - Major
        %br
          %small £10m+ income
      %td
        Get in touch
