.uk-form.uk-form-stacked.form

  h3 Requirements

  .uk-width-medium-1-2.uk-margin-top
    = f.input :type_of_support, collection: Proposal::TYPE_OF_SUPPORT, input_html: { class: 'large uk-width-medium-1-1' }

  .uk-width-medium-1-2.uk-margin-top
    = f.input :funding_duration, as: :month, input_html: { class: 'large' }

  .uk-width-medium-1-2.uk-margin-top
    = f.input :funding_type, collection: FUNDING_TYPES, input_html: { class: 'large uk-width-medium-1-1' }

  .uk-width-medium-1-2.uk-margin-top
    = f.input :total_costs, as: :currency, input_html: { class: 'large' }
  .uk-width-medium-1-2
    = f.input :total_costs_estimated, as: :boolean, label: false, inline_label: 'Are these estimated figures?'

  .uk-width-medium-1-1.uk-margin-top
    = f.input :all_funding_required, as: :radio_buttons

hr.thick
