.uk-panel.chart-responsive-margin.uk-margin
  .uk-panel-title
    Who/what funded organisations affected
    .uk-text-small Tip: Hover over the bars for more details.

  - if @funder.name == 'The Foundation' && Date.today.year - @years_ago != 2012
    -# .uk-panel-badge.uk-badge= funding_stream_label
    #beneficiary_target{ data: {grants: static_beneficiary_target_data.to_json} }

  - else
    = data_progress(@funder)
