.uk-panel.chart-responsive-margin
  .uk-panel-title
    Beneficiary age of funded organisations
    .uk-text-small= funding_period if @funder.grants.any?

  - if @funder.name == 'The Foundation' && Date.today.year - @years_ago != 2012
    .uk-panel-badge.uk-badge= funding_stream_label
    - if has_profile_for_year?
      #beneficiary_age{ data: {grants: static_beneficiary_age_data(@years_ago).to_json} }
    - else
      .uk-panel.uk-panel-box
        = profile_missing

  - else
    = data_progress(@funder)
