// Config
// =========================================================================

@import base

// =========================================================================

// TODO: .button, .button-wide deprecated
.button, .button-wide, .btn
  font-size: map-get($scales, 16)
  text-decoration: none
  display: inline-block
  line-height: map-get($scales, 16)
  margin: 0
  height: auto
  border: 2px solid transparent
  vertical-align: middle
  text-align: center
  -webkit-appearance: none
  color: inherit
  background-color: transparent
  border-radius: $base-radius

  &:hover
    text-decoration: none

  &:focus
    outline: none

// TODO: deprecated
.button, .button-wide
  padding: map-get($scales, 10) map-get($scales, 40)

// TODO: deprecated
.button-wide
  width: 100%

// TODO: deprecated
.button-bottom
  border-radius: 0 0 $base-radius $base-radius

.btn
  font-weight: bold
  padding: 6px 12px

  &.wide
    width: 100%