.flex
  display: flex

.flex-wrap
  flex-wrap: wrap
.flex-column
  flex-direction: column

.justify-center
  justify-content: center
.justify-end
  justify-content: flex-end
.justify-between
  justify-content: space-between

.items-center
  align-items: center

.content-center
  align-content: center

.f1
  flex: 1
.f2
  flex: 2
