// Config
// =========================================================================

@import base

// =========================================================================

.input
  font-family: inherit
  font-size: inherit
  display: block
  width: 100%
  +responsive(height, map-get($scales, 40))
  +responsive(padding-left, map-get($scales, 10), .6, .8)
  border: 1px solid map-get($colors, 'grey')
  border-radius: $base-radius
  box-sizing: border-box
  background: map-get($colors, 'white')
  &:focus
    outline: none
    border-color: map-get($colors, 'blue')

.input + .error
  display: inline-block
  color: map-get($colors, red)
  +responsive(font-size, map-get($scales, 12))
  &:first-letter
    text-transform: capitalize

.field_with_errors > input
.field_with_errors > select
  border-color: map-get($colors, 'red')

.label
  display: block