// Config
// =========================================================================

$widths: (250: 15.625rem, 500: 31.25rem, 750: 46.875rem, 1000: 62.5rem, 1080: 67.5rem)

// =========================================================================

.fit
  max-width: 100%

@each $var, $val in $widths
  .maxw#{$var}
    max-width: $val
  .minw#{$var}
    min-width: $val
