= content_for :title, 'Ineligible funders'

= render partial: 'recipients/funders/subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Ineligible funders
  %h4 You are seeing funders that you are not able to apply for funds from.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    - if @funders.count == 0
      .cta.wide
        Awesome, you're not ineligible for any funders!
        = link_to 'Find a funder', recommended_funders_path, class: 'uk-button uk-button-large uk-button-primary invert'

    - @funders.each_with_index do |funder, i|
      = render partial: 'recipients/funders/summary', locals: { funder: funder }
      - unless i == @funders.count-1
        %hr.thick
