= content_for :title, '500'

%header
  = cell :v2_navbar, @current_user

%main
  %section.maxw790.mx-auto.my80
    .mx40.center
      %h1.mb20 Something went wrong

      .fs18.lh25.slate.mb40 We're sorry, but you may have found a bug.

      = link_to 'Go back to the last page', :back, class: 'btn white bg-blue mb10'
      = mail_to 'support@beehivegiving.org', 'Contact support', :subject => 'Help with Beehive (500)', class: 'btn blue bg-white border-blue mb10'
