$colors: (
  // Greys
  'black':        $base-color,
  night:        #515E70,
  slate:        #7A8799,
  'grey':       #ACB2BF,
  mist:         #DFE2E6,
  'silver':     #E9ECED,
  ice:          #F6F9FC,

  'white':        $base-bg-color,

  // Primary
  'blue':       #5AA0FF,
  'green':      #2AD18B,
  'red':        #FF7269,
  'yellow':     #FFCC1C,

  // Dark
  dark-blue:    #1C4073,

  // Rich
  rich-blue:    #3B88F5,

  // Soft
  soft-blue:    #94BEF7,

  // Pale
  pale-blue:    #D7EAFC,
  pale-green:   #E6FAF2,
  pale-red:     #FCE6E7,
  pale-yellow:  #FAF3E6,

  // Light
  light-blue:   #F2F9FF,
  light-green:  #FAFFFD,
  light-red:    #FFFAFA,
  light-yellow: #FFFDF9
)