$colors: (
  // Greys
  'black':        $base-color,
  night:        #515E70,
  slate:        #7A8799,
  'grey':       #ACB2BF,
  mist:         #DFE2E6,
  'silver':     #E9ECED,
  ice:          #F6F9FC,
  'white':        $base-bg-color,

  // Primary
  'red':        #FF7269,
  'green':      #2AD18B,
  'blue':       #5AA0FF,
  'yellow':     #FFCC1C,

  // Dark
  dark-blue:    #1C4073,

  // Rich
  rich-blue:    #3B88F5,

  // Soft
  soft-blue:    #94BEF7,
  soft-yellow:  #FFE3A6,

  // Pale
  pale-red :    #FCE6E7,
  pale-blue:    #D7EAFC,

  // Light
  light-red:    #FFFAFA,
  light-blue:   #F2F9FF,
  light-yellow: #FFFDF9,

  // Dark
  dark-yellow:  #F4B000,

  // Misc.
  'olive':      #00B57C,
  mint:         #41D3AE
)