// Config
// =========================================================================

@import widths

// =========================================================================

.divider
  border-left: 2px solid map-get($colors, 'silver')

.perc25
  width: 25%
.perc33
  width: 33%
.perc48
  width: 48%
.perc50
  width: 50%
.perc66
  width: 66%
.perc75
  width: 75%
.sm
  @media screen and (max-width: 25rem)
    width: 100%
    border-left-color: transparent !important
    padding-left: 0px !important
    padding-right: 0px !important
.md
  @media screen and (max-width: 46.875rem)
    width: 100%
    border-left-color: transparent !important
    padding-left: 0px !important
    padding-right: 0px !important

.fit
  max-width: 100%
.block
  display: block
.inline-block
  display: inline-block
.right
  float: right

.col1
  min-width: 320px
  @media screen and (max-width: 350px)
    min-width: 100%

@each $var, $val in $widths
  .maxw#{$var}
    max-width: $val
  .minw#{$var}
    min-width: $val
