// Config
// =========================================================================

@import widths

// =========================================================================

.perc48
  width: 48%

.inline-block
  display: inline-block

.col1
  max-width: 350px
  flex-basis: 320px
  flex-grow: 1
.col2
  max-width: 720px
  flex-basis: 320px
  flex-grow: 1
.col1, .col2
  min-width: 320px
  &.md
    @media screen and (max-width: 655px)
      min-width: auto
      max-width: 100%

@each $var, $val in $widths
  .maxw#{$var}
    max-width: $val
  .minw#{$var}
    min-width: $val
