// Config
// =========================================================================

@import base

// =========================================================================

.tooltip
  position: relative
  &:hover
    cursor: help
    &:after, &:before
      opacity: 1

  &:after, &:before
    position: absolute
    left: 50%
    opacity: 0
    transition: opacity 0.2s ease
    +prefix(box-shadow, 0px 3px 6px 0px rgba(0, 0, 0, .16), moz webkit)

  &:after
    top: -5px
    content: ''
    transform: translateX(-50%)
    border-width: 7px 6px 0 6px
    border-style: solid
    border-color: map-get($colors, night) transparent transparent transparent

  &:before
    top: -4px
    content: attr(aria-label)
    transform: translateX(-50%) translateY(-100%)
    padding: map-get($scales, 15)
    background: map-get($colors, night)
    color: map-get($colors, 'white')
    font-size: map-get($scales, 14)
    line-height: map-get($scales, 18)
    border-radius: $base-radius
    min-width: 206px
    pointer-events: none

.tooltip-left
  &:after, &:before
    transition: none

  &:before
    left: calc(0% - 6px)
    top: 50%
    transform: translateX(-100%) translateY(calc(-50% + 1px))
    padding: map-get($scales, 5)
    min-width: auto
    white-space: nowrap

  &:after
    left: calc(0% - 10px)
    top: 50%
    transform: translateY(calc(-50% + 1px)) rotate(-90deg)
