- funder = Funder.find(@recipient.unlocked_funders.first.id)

#eligibility.uk-modal
  .uk-modal-dialog
    .uk-modal-header
      %h2
        Your first funder unlock
        = succeed '!' do
          = current_user.first_name
    %p
      You've unlocked
      = funder.name
    .uk-modal-footer.uk-text-center
      = link_to 'Am I eligible?', recipient_eligibility_path(funder), :"data-no-turbolink" => true, class: 'uk-button uk-button-primary uk-width-2-5'

:javascript
  var modal = $.UIkit.modal("#eligibility");
  modal.options.bgclose = false;
  modal.options.keyboard = false;
  modal.show();
