:javascript
  mixpanel.track_links(".js-record-recommendation-close", "Click 'Show me my recommendations");

#recommendation.uk-modal
  .uk-modal-dialog
    .uk-modal-header
      %h2 Your funder recommendations are ready!
    %p
      You can spot your recommended funders by the little
      %i.uk-icon.uk-icon-star.uk-icon-small.yellow
      icon.
    %p Why not explore the funders, and when you find one you think would be a good fit hit the unlock button to see more information and check your eligibility.
    .uk-modal-footer.uk-text-center
      %a.uk-button.uk-button-primary.uk-modal-close.uk-width-2-5.js-record-recommendation-close Show me my recommendations

:javascript
  var modal = $.UIkit.modal("#recommendation");
  modal.options.bgclose = false;
  modal.options.keyboard = false;
  modal.show();
