- if @proposal.checked_fund?(model)

  = f.button :button, 'Update eligibility',
                      class: 'button blue bg-white border-blue caps shadow',
                      data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Updating..."}

- elsif @proposal.recipient.subscribed?

  = f.button :button, 'Check eligibility',
                      class: 'button white bg-blue caps shadow',
                      data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Checking..."}

- elsif (MAX_FREE_LIMIT - @proposal.recipient.funds_checked) < 1

  = link_to "Upgrade to check eligibility", account_upgrade_path(@proposal.recipient),
            class: 'button white bg-blue caps shadow',
            :title => "You have no free eligibility checks remaining."
  p.mt10.red You have no free eligibility checks remaining

- elsif @proposal.recipient.incomplete_first_proposal?

  = f.button :button, "Check eligibility",
                      class: 'button white bg-blue caps shadow',
                      :disabled => true,
                      :title => "This will use one of your free eligibility checks."

- else

  = f.button :button, "Check eligibility (#{[0, (MAX_FREE_LIMIT - @proposal.recipient.funds_checked)].max} left)",
                      class: 'button white bg-blue caps shadow',
                      data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Checking..."},
                      "data-uk-tooltip" => "{pos:'top'}",
                      :title => "This will use one of your free eligibility checks."
