.subnav{ "data-uk-sticky" => "" }
  .uk-container.uk-container-center
    %ul.nav.recipient
      %a{ href: proposals_path }
        %li.first{ class: ('active' if current_page?(proposals_path)) }
          All
          = surround '(', ')' do
            = @recipient.proposals.count
          .highlight
      %span &middot;

      %a{ href: new_proposal_path }
        %li.first{ class: ('active' if current_page?(new_proposal_path)) }
          New
          .highlight
      %span &middot;

      - if params[:action] == 'edit'
        %a{ href: edit_proposal_path(@proposal) }
          %li.first{ class: ('active' if current_page?(edit_proposal_path(@proposal))) }
            Edit
            .highlight
      - else
        %li.muted
          Edit
