= content_for :title, 'Edit Proposal'

.uk-container.uk-container-center.uk-margin-large

  %h2 Funding proposal
  %h4 Update your funding proposal to update your funding recommendations.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top

    -# TODO: form