= content_for :title, 'New Proposal'

.uk-container.uk-container-center.uk-margin-large

  %h2 What are you seeking funding for?
  %h4 Beehive will use this to provide recommendations of suitable funds.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top

    -# TODO: form