/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require pages
 *= require users
 *= require organisations
 *= require uikit
 *= require chosen
 *= require timelineJS/timeline
 *= require timelineJS/themes/font/BreeSerif-OpenSans
 */

.bh-button-group {
  top: 5px;
}

.logo {
  position: relative;
  width: 95px;
  height: 17px;
  background: image-url('logo.svg') no-repeat;
  background-size: 95px 40px;
}

.logo-label {
  position: relative;
  left: 82px;
  top: -29px;
  font-size: 12px;
  font-weight: bold;
  color: #F7BA0E;
}

.powered-by {
  position: relative;
  right: 60px;
  top: -50px;
  font-size: 10px;
  color: #F7BA0E;
}

.yellow, .yellow:hover {
  color: #F7BA0E;
}

#padding-remove {
  padding: 0 0 0 0;
}

#remove-padding-left {
  padding-left: 0;
}

.field_with_errors {
  border: 1px rgb(220, 141, 153) solid;
}
