/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require pages
 *= require users
 *= require organisations
 *= require uikit
 *= require chosen
 *= require c3
 *= require timelineJS/timeline
 *= require timelineJS/themes/font/BreeSerif-OpenSans
 */

@font-face {
  font-family: "Redacted";
    src: url(/assets/redacted-script-bold.eot);
    src: url(/assets/redacted-script-bold.woff2) format("woff2"),
         url(/assets/redacted-script-bold.woff) format("woff"),
         url(/assets/redacted-script-bold.otf) format("opentype"),
         url(/assets/redacted-script-bold.svg#filename) format("svg");
}

$yellow: #F7BA0E;
$white: #fff;

$nprogress-color: $yellow;

@import 'nprogress';
@import 'nprogress-bootstrap';

/* $base-body-font-family: "Times New Roman", Georgia, Serif !default; */
/* h1, h2, h3, h4, h5, h6, .uk-panel-title, .uk-text-large {
  font-family: "Times New Roman", Georgia, Serif !important;
} */

.uk-grid.uk-grid-collapse,
.uk-grid.uk-grid-collapse > [class*='uk-width-'] {
  margin: 0;
  padding: 0;
}
.uk-subnav-pill > li > a {
  font-size: 12px;
  background: #eeeeee;
  color: #444 !important;
  &:hover {
    background: #f5f5f5 !important;
  }
}
.uk-subnav-pill > li.uk-active > a {
  color: #fff !important;
  &:hover {
    background: #35b3ee !important;
  }
}

.bh-button-group {
  top: 5px;
}

.logo {
  position: relative;
  width: 95px;
  height: 17px;
  background: image-url('logo.svg') no-repeat;
  background-size: 95px 40px;
}

.logo-label {
  position: relative;
  left: 82px;
  top: -29px;
  font-size: 12px;
  font-weight: bold;
  color: #F7BA0E;
}

.powered-by {
  position: relative;
  right: 60px;
  top: -50px;
  font-size: 10px;
  color: #F7BA0E;
}

.roboto, p, a, o, label, input, h6, h5, h4, h3,
.uk-panel-title {
  font-family: 'Roboto' !important;
}
.roboto-slab, h2, h1 {
  font-family: 'Roboto Slab' !important;
}
.redacted {
  font-family: "Redacted" !important;
}

.white, .white:hover {
  color: $white;
}
.yellow, .yellow:hover {
  color: $yellow;
}

#padding-remove {
  padding: 0 0 0 0;
}

#remove-padding-left {
  padding-left: 0;
}

.field_with_errors {
  border: 1px #e28327 solid;
  border-radius: 4px;
}

#bg-color {
  background-color: #FAFAFA;
}

#panel {
  background: #fff;
  border: solid 1px #EAEAEA;
  border-bottom: solid 3px #EAEAEA;
}
.upcase {
  text-transform: uppercase;
}
.remove-left-padding {
  @media (min-width: 767px) {
    padding-left: 0 !important;
  }
}
.input .integer, .input .text {
  border-radius: 4px !important;
}


.chosen-container {
  .chosen-single {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
    background-image: none !important;
  }
}
.chosen-container {
  .chosen-single {
    height: 30px !important;
    line-height: 30px !important;
  }
}
.chosen-container-single .chosen-single abbr {
  top: 8px !important;
}
.chosen-container-single .chosen-single div b {
  margin-top: 3px
}
.chosen-with-drop {
  .chosen-single {
    border-top: 1px solid #99baca !important;
    border-right: 1px solid #99baca !important;
    border-left: 1px solid #99baca !important;
    background: #f5fbfe !important;
    height: 30px !important;
  }
}
.chosen-with-drop {
  .chosen-drop {
    border-right: 1px solid #99baca !important;
    border-bottom: 1px solid #99baca !important;
    border-left: 1px solid #99baca !important;
    background: #f5fbfe !important;
    box-shadow: none !important;
    z-index: 1 !important;
  }
}

.chosen-choices {
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  background-image: none !important;
}
.chosen-container-multi .chosen-choices li.search-choice {
  border: none !important;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #99baca !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  background: #f5fbfe !important;
  transition-delay: 0s !important;
  transition-duration: 0.2s !important;
  transition-timing-function: linear !important;
}

.footer-left {
  float: left;
}
.footer-right {
  float: right;
}
.footer-left, .footer-right {
  @media only screen and (max-width: 767px) {
    float: none;
    text-align: center;
  }
}
