@import variables
@import funder_logos

/* Typography
 ========================================================================== */

@font-face
  font-family: "Redacted"
  src: font-url("redacted-script-bold.eot")
  src: font-url("redacted-script-bold.woff2") format("woff2"), font-url("redacted-script-bold.woff") format("woff"), font-url("redacted-script-bold.otf") format("opentype"), font-url("redacted-script-bold.svg#filename") format("svg")

/* Layout
 ========================================================================== */

html, body
  min-height: 100% !important
  height: 100%

.full-height
  min-height: 340px
  height: calc(100% - 42px)
  width: 100%
  display: table
  &.max
    height: 100%
  .full-height-content
    display: table-cell
    vertical-align: middle

/* Utility
 ========================================================================== */

// .base
//   &.background
//     background-color: $background-base

.dark
  &.background
    background-color: $dark-blue

.background-image
  +background-image

.white, .white:hover
  color: $white !important

.muted, .muted:hover
  color: $mid-grey

.yellow, .yellow:hover
  color: $yellow-base
  &.background
    background: $yellow-base

.blue
  color: $blue-base
.blue:hover
  color: $blue-hover

.upcase
  text-transform: uppercase

.x1-5
  font-size: 1.5em
  line-height: 0

.first
  margin-left: 0 !important
  padding-left: 0 !important

.last
  margin-right: 0 !important
  padding-right: 0 !important

// refactor
#padding-remove
  padding: 0 0 0 0

// refactor
.shadow
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15)
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15)
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15)
  &:hover
    .uk-button
      background: $button-base-hover
    .uk-button-primary
      background: $blue-hover
    .uk-button-success
      background: $green-hover
    .uk-button-danger
      background: $red-hover

// refactor
.bounce
  -webkit-transition: all 0.25s ease
  -o-transition: all 0.25s ease
  -moz-transition: all 0.25s ease
  -ms-transition: all 0.25s ease
  -kthtml-transition: all 0.25s ease
  transition: all 0.25s ease
  top: 0px
  &:hover
    top: -4px
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3)
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3)
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3)

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=keyframe-opacity($to)
  to
    opacity: $to

+keyframes(fadeIn)
  +keyframe-opacity(1)
+keyframes(fadeOut)
  +keyframe-opacity(0)

=opacity-animation($animation-name)
  -webkit-animation: $animation-name .25s ease-in 1 forwards
  -moz-animation:    $animation-name .25s ease-in 1 forwards
  -o-animation:      $animation-name .25s ease-in 1 forwards
  animation:         $animation-name .25s ease-in 1 forwards

.fade-in
  opacity: 0
  +opacity-animation(fadeIn)

.fade-out
  opacity: 1
  display: none
  +opacity-animation(fadeOut)

/* Navbar
 ========================================================================== */

.navbar, .subnav
  &.recipient
    background: $yellow-base
  &.funder
    background: $blue-base

  ul.nav
    list-style: none
    display: block
    margin: 0
    padding: 0
    font-size: 15px
    float: left
    @media screen and (max-width: 480px)
      font-size: 13px
    a
      text-decoration: none !important
    li
      position: relative
      color: $white
      display: inline-block
      height: 20px
      padding: 15px 10px
      @media screen and (max-width: 480px)
        padding: 10px 5px
      &:hover
        .highlight
          display: block
      &.active
        font-weight: bold
        .highlight, .caret
          display: block
      .highlight
        position: relative
        top: -1px
        width: 100%
        height: 2px
        background: $white
        display: none
      .caret
        position: relative
        display: none
        &:after
          top: 12px
          @media screen and (max-width: 480px)
            top: 6px
          left: 50%
          content: ''
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-top: 6px solid $yellow-base
          border-left: 10px solid transparent
          border-right: 10px solid transparent
          margin-left: -10px

.logo
  display: inline-block
  position: relative
  width: 95px
  height: 50px
  background: image-url('logo.svg') no-repeat
  background-size: 95px 50px
  margin: 0 auto
  @media screen and (max-width: 480px)
    width: 24px
    height: 20px
    margin: 10px auto
    background: image-url('logo-hex.svg') no-repeat
  &:hover
    text-decoration: none !important
  @media screen and (min-width: 480px)
    &:after
      content: 'Beta'
      color: $white
      font-size: 10px
      font-weight: bold
      position: absolute
      right: -25px
      top: 14px

/* Subnav
 ========================================================================== */

.subnav
  background: $off-white
  border-bottom: 1px solid $lightest-grey
  ul.nav
    span
      color: $mid-grey
    li
      color: $yellow-base
      padding: 25px 2px
      @media screen and (max-width: 480px)
        padding: 15px 2px
      .highlight
        background: $yellow-base

/* Panel
 ========================================================================== */

#panel
  background: #fff
  border: solid 1px #EAEAEA

/* Inputs
 ========================================================================== */

.field_with_errors
  .string, .numeric, select, .checkbox label, .radio label, .chosen-container .chosen-single, .chosen-container .chosen-choices, .password
    border: 1px #e28327 solid !important
    background: #fff7f8 !important
    color: #d85030 !important
  .chosen-with-drop .chosen-drop
    background: #fff7f8 !important
    color: #d85030 !important
    border-right: 1px solid #e28327 !important
    border-bottom: 1px solid #e28327 !important
    border-left: 1px solid #e28327 !important

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

/* Call to actions
 ========================================================================== */

.cta
  padding: 10px 12px
  background: $dark-blue
  color: $white
  font-size: 1.1em
  &.wide
    padding: 15px 12px
    text-align: center
    font-size: 1.3em

/* Footer
 ========================================================================== */

.footer
  background: $dark-brown
  text-align: center
  font-size: 12px
  color: $white
  padding: 45px 0
  border-top: 3px solid $yellow-base
  .logo-hex
    background: image-url('logo-hex.svg') no-repeat
    margin: 0 auto
    width: 45px
    height: 41px
  p
    margin: 10px auto
