@import modules/base

.bread, .crumb
  display: inline-block
  vertical-align: middle
.bread
  max-width: 140px
  @media screen and (max-width: 46.875rem)
    max-width: 125px
  @media screen and (max-width: 25rem)
    max-width: 120px
@media screen and (max-width: 46.875rem)
  .bread, .crumb
    display: none
  .bread:nth-last-child(7)
    visibility: hidden
    position: relative
    width: 10px
    &:after
      visibility: visible
      position: absolute
      top: 2px
      content: '...'
  .bread:nth-last-child(-n+5),
  .crumb:nth-last-child(-n+5),
  .bread:nth-last-child(7),
  .crumb:nth-last-child(6)
    display: inline-block
@media screen and (max-width: 25rem)
  .bread, .crumb
    display: none !important
  .bread:nth-last-child(5)
    visibility: hidden
    position: relative
    width: 10px
    &:after
      visibility: visible
      position: absolute
      top: 2px
      content: '...'
  .bread:nth-last-child(-n+3),
  .crumb:nth-last-child(-n+3),
  .bread:nth-last-child(5),
  .crumb:nth-last-child(4)
    display: inline-block !important

.dot, .dot-lg
  padding: 0 5px
  display: inline-block
  border-radius: 9999px
  overflow: hidden
  transition: all .24s ease-in-out
  &:hover
    max-width: 150px
    opacity: 1

.dot
  height: 16px
  line-height: 16px
  max-width: 16px
  min-width: 16px
  text-indent: 16px

.dot-lg
  height: 22px
  line-height: 22px
  max-width: 22px
  min-width: 22px
  text-indent: 22px

@each $var, $val in $scales
  .dot-#{$var}
    height: $val
    line-height: $val
    max-width: $val
    min-width: $val
    text-indent: $val

.progress
  height: 100%
  overflow: hidden

.progress .bar
  height: 100%
  display: inline-block

article.featured
  margin-left: -10px
  margin-right: -10px

.feature-card
  display: inline-block
  width: 270px
  .image
    background: image-url('feature-card.png') no-repeat
    height: 200px
  .copy
    text-align: left

#sort-form
  select
    +prefix(appearance, none, webkit moz)
    border: none
    outline: none
    font-size: 15px
    color: map-get($colors, 'blue')
    background: none
    max-width: 80px
    margin: 0 5px
    &:hover
      cursor: pointer

#header-offset
  min-height: 43.75rem

#hex
  position: relative
  z-index: 0
  &:after
    content: ''
    display: block
    position: absolute
    z-index: -1
    background: image-url('bg-hex.svg') no-repeat
    width: 600px
    height: 553px
    top: -100px
    left: -45px
    @media screen and (max-width: 639px)
      top: -40px
      left: -25px
      width: 450px
      height: 415px

#hex-footer
  width: 100%
  height: 375px
  background: image-url('hex-footer.svg') no-repeat
  background-size: 2438px 375px
  background-position: center
  position: absolute
  z-index: -1

#logo-hex
  background: image-url('footer-hex.svg') no-repeat
  width: 32px
  height: 30px

nav
  @media screen and (max-width: 30rem)
    a
      font-size: 15px
    .mx20
      margin-left: 10px
      margin-right: 10px
    .ml20
      margin-left: 10px

#navbar-logo
  width: 106px
  height: 20px
  background: image-url('logo.svg') no-repeat
  background-size: 106px 20px
  margin-right: auto
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  &.blue
    background: image-url('blue-logo.svg') no-repeat
    @media screen and (max-width: 30rem)
      background: image-url('blue-logo-hex.svg') no-repeat
  @media screen and (max-width: 30rem)
    width: 24px
    height: 20px
    background: image-url('logo-hex.svg') no-repeat
    background-size: 24px 20px

.pagination a
  color: map-get($colors, 'blue')

@font-face
  font-family: 'Redacted'
  src: font-url('redacted-script-bold.eot') format('eot'), font-url('redacted-script-bold.woff2') format('woff2'), font-url('redacted-script-bold.woff') format('woff'), font-url('redacted-script-bold.otf') format('opentype'), font-url('redacted-script-bold.svg#filename') format('svg')
.redacted
  font-family: 'Redacted' !important

#supporter
  background: image-url('supporters-logos-sprites.png') no-repeat
  background-size: 200px 1500px
  width: 200px
  height: 120px
  &.cast
    background-position: center -15px
  &.big-lottery-fund
    background-position: center -165px
  &.three-sixty-giving
    background-position: center -315px
  &.outlandish
    background-position: center -465px
  &.indigo-trust
    background-position: center -615px
  &.forward-foundation
    background-position: center -765px
  &.neon
    background-position: center -915px
  &.forward-partners
    background-position: center -1065px
  &.forward3d
    background-position: center -1215px
  &.datakind-uk
    background-position: center -1365px

=scale($w, $h, $scale: 1)
  background-size: ($w * $scale) ($h * $scale)
  min-width: ($w * $scale) / 2
  height: ($h * $scale)

@media screen and (min-width: 46.875rem)
  .dashboard-columns > div
    width: 24%
    margin-right: 1%

  .dashboard-columns > div:nth-of-type(4n)
    margin-right: 0


// Markdown
// =========================================================================

.markdown
  h1, h2, h3, h4, h5, h6, p, ul, ol
    margin-bottom: 20px
  h1, h2, h3, h4
    font-weight: 300
  a
    color: map-get($colors, 'blue')
  ul
    list-style: disc
  ul, ol
    padding-left: 30px

// Quiz
// =========================================================================

.quiz
  .input_wrapper
    white-space: nowrap

  input[type='radio']
    position: absolute !important
    height: 1px
    width: 1px
    overflow: hidden
    clip: rect(1px, 1px, 1px, 1px)

  input[type='radio'] + label
    display: inline-block
    min-width: 52px
    padding: 6px 12px
    margin-right: 5px
    border-radius: $base-radius
    cursor: pointer
    text-align: center
    border: $base-border-width solid map-get($colors, 'mist')

  input[type='radio']:checked + label
    color: map-get($colors, 'white')
    background: map-get($colors, 'blue')
    border: $base-border-width solid transparent

  input[type=radio]:not(:checked) + label
    color: map-get($colors, 'blue')

// Dialog
// =========================================================================

// native
dialog::backdrop
  background-color: rgba(0, 0, 0, 0.8) !important
// polyfill
dialog + .backdrop
  background-color: rgba(0, 0, 0, 0.8) !important

dialog
  min-width: 320px
  padding: 0 !important

.js-open-modal
  height: 100vh
  overflow: hidden

// Footer
// =========================================================================

footer.slate .footer-links a
  color: map-get($colors, 'slate')

footer.slate hr
  color: map-get($colors, 'mist')
  background-color: map-get($colors, 'mist')

footer.white .footer-links a, footer.white hr
  color: map-get($colors, 'white')
  opacity: .6

footer.white hr
  background-color: map-get($colors, 'white')

.footer-logo
  @media screen and (max-width: 40rem)
    margin: 30px auto

.footer-links
  min-width: 290px

  @media screen and (max-width: 40rem)
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    *
      margin: 0 0 20px 0
    *:last-child
      margin: 0

.icon
  display: inline-block
  width: 12px
.private > .icon
  height: 10px
  margin-bottom: 4px
  background: image-url('eye-cross.svg') no-repeat
.public > .icon
  height: 8px
  margin-bottom: 5px
  background: image-url('eye.svg') no-repeat
