.funder
  width: 229px
  height: 65px
  background: url("funder-logos-sprite.png") no-repeat
  background-position: 0 65px
  &.the-foundation
    background-position: 0 0
  &.the-dulverton-trust
    background-position: 0 -65px
  &.esmee-fairbairn-foundation
    background-position: 0 -130px
  &.nesta
    background-position: 0 -195px
  &.nominet-trust
    background-position: 0 -260px
  &.arts-council-england
    background-position: 0 -325px
  &.big-lottery-fund
    background-position: 0 -390px
  &.heritage-lottery-fund
    background-position: 0 -455px
  &.indigo-trust
    background-position: 0 -520px
  &.lloyds-bank-foundation
    background-position: 0 -585px
  &.paul-hamlyn-foundation
    background-position: 0 -650px
  &.sport-england
    background-position: 0 -715px
  &.beyondme
    background-position: 0 -780px
  &.comic-relief
    background-position: 0 -845px
  &.garfield-weston-foundation
    background-position: 0 -910px
  &.trust-for-london
    background-position: 0 -975px
  &.the-henry-smith-charity
    background-position: 0 -1040px
  &.john-lyons-charity
    background-position: 0 -1105px
  &.city-bridge-trust
    background-position: 0 -1170px
  &.children-in-need
    background-position: 0 -1235px
  &.the-tudor-trust
    background-position: 0 -1300px
  &.sigrid-rausing-trust
    background-position: 0 -1365px
  &.the-joseph-rowntree-charitable-trust
    background-position: 0 -1430px
  &.lankellychase-foundation
    background-position: 0 -1495px
