.cta
  padding: 15px
  background: #F7BA0E
  color: #fff
  font-size: 1.1em
.cta-hover
  &:hover
    background: #FFC728
    color: #fff
    text-decoration: none
.cta p a
  color: #00a8e6
  font-weight: bold
  &:hover
    color: #35b3ee

.funder-logo-banner
  position: absolute
  background: #FFC728
  bottom: -8px
  width: 100%
  height: 35px
  color: #fff
  line-height: 35px
  font-size: 12px
  text-transform: uppercase
  border: solid #fff 2px

.or
  position: absolute
  top: 4px
  right: -26px
  font-weight: bold
  font-size: 16px
  @media screen and (max-width: 1220px)
    right: -20px
  @media screen and (max-width: 767px)
    display: none

=funder-logo($ypos, $scale:1, $width:229px)
  width: $width
  height: 65px * $scale
  background-size: (229px * $scale) (3510px * $scale)
  background-position: center ((-65px * $ypos) * $scale)

.funder
  background: image-url("funder-logos-sprite.png") no-repeat
  width: 229px
  height: 65px
  background-position: center 65px

  &.the-foundation
    +funder-logo(0)
  &.the-foundation-small
    +funder-logo(0, 0.8, 150px)

  &.the-dulverton-trust
    +funder-logo(1)
  &.the-dulverton-trust-small
    +funder-logo(1, 0.7, 150px)

  &.esmee-fairbairn-foundation
    +funder-logo(2)
  &.esmee-fairbairn-foundation-small
    +funder-logo(2, 0.9, 150px)

  &.nesta
    +funder-logo(3)
  &.nesta-small
    +funder-logo(3, 0.7, 150px)

  &.nominet-trust
    +funder-logo(4)
  &.nominet-trust-small
    +funder-logo(4, 0.8, 150px)

  &.arts-council-england
    +funder-logo(5)
  &.arts-council-england-small
    +funder-logo(5, 1, 150px)

  &.big-lottery-fund
    +funder-logo(6)
  &.big-lottery-fund-small
    +funder-logo(6, 1, 150px)

  &.heritage-lottery-fund
    +funder-logo(7)
  &.heritage-lottery-fund-small
    +funder-logo(7, 0.9, 150px)

  &.the-indigo-trust
    +funder-logo(8)
  &.the-indigo-trust-small
    +funder-logo(8, 0.8, 150px)

  &.lloyds-bank-foundation
    +funder-logo(9)
  &.lloyds-bank-foundation-small
    +funder-logo(9, 0.6, 150px)

  &.paul-hamlyn-foundation
    +funder-logo(10)
  &.paul-hamlyn-foundation-small
    +funder-logo(10, 0.6, 150px)

  &.sport-england
    +funder-logo(11)
  &.sport-england-small
    +funder-logo(11, 0.7, 150px)

  &.beyondme
    +funder-logo(12)
  &.beyondme-small
    +funder-logo(12, 0.8, 150px)

  &.comic-relief
    +funder-logo(13)
  &.comic-relief-small
    +funder-logo(13, 0.8, 150px)

  &.garfield-weston-foundation
    +funder-logo(14)
  &.garfield-weston-foundation-small
    +funder-logo(14, 1, 150px)

  &.trust-for-london
    +funder-logo(15)
  &.trust-for-london-small
    +funder-logo(15, 0.8, 150px)

  &.the-henry-smith-charity
    +funder-logo(16)
  &.the-henry-smith-charity-small
    +funder-logo(16, 1, 150px)

  &.john-lyons-charity
    +funder-logo(17)
  &.john-lyons-charity-small
    +funder-logo(17, 0.6, 150px)

  &.city-bridge-trust
    +funder-logo(18)
  &.city-bridge-trust-small
    +funder-logo(18, 0.6, 150px)

  &.children-in-need
    +funder-logo(19)
  &.children-in-need-small
    +funder-logo(19, 0.8, 150px)

  &.the-tudor-trust
    +funder-logo(20)
  &.the-tudor-trust-small
    +funder-logo(20, 0.7, 150px)

  &.sigrid-rausing-trust
    +funder-logo(21)
  &.sigrid-rausing-trust-small
    +funder-logo(21, 0.6, 150px)

  &.the-joseph-rowntree-charitable-trust
    +funder-logo(22)
  &.the-joseph-rowntree-charitable-trust-small
    +funder-logo(22, 1, 150px)

  &.lankellychase-foundation
    +funder-logo(23)
  &.lankellychase-foundation-small
    +funder-logo(23, 1, 150px)

  &.barrow-cadbury-trust
    +funder-logo(24)
  &.barrow-cadbury-trust-small
    +funder-logo(24, 0.8, 150px)

  &.the-bernard-sunley-charitable-foundation
    +funder-logo(25)
  &.the-bernard-sunley-charitable-foundation-small
    +funder-logo(25, 0.58, 150px)

  &.charles-hayward-foundation
    +funder-logo(26)
  &.charles-hayward-foundation-small
    +funder-logo(26, 0.8, 150px)

  &.clore-duffield-foundation
    +funder-logo(27)
  &.clore-duffield-foundation-small
    +funder-logo(27, 1, 150px)

  &.the-clothworkers-foundation
    +funder-logo(28)
  &.the-clothworkers-foundation-small
    +funder-logo(28, 0.6, 150px)

  &.cripplegate-foundation
    +funder-logo(29)
  &.cripplegate-foundation-small
    +funder-logo(29, 0.6, 150px)

  &.the-drapers-company
    +funder-logo(30)
  &.the-drapers-company-small
    +funder-logo(30, 1, 150px)

  &.fidelity-uk-foundation
    +funder-logo(31)
  &.fidelity-uk-foundation-small
    +funder-logo(31, 0.7, 150px)

  &.four-acre-trust
    +funder-logo(32)
  &.four-acre-trust-small
    +funder-logo(32, 0.6, 150px)

  &.foyle-foundation
    +funder-logo(33)
  &.foyle-foundation-small
    +funder-logo(33, 0.6, 150px)

  &.jack-petchey-foundation
    +funder-logo(34)
  &.jack-petchey-foundation-small
    +funder-logo(34, 0.6, 150px)

  &.john-ellerman-foundation
    +funder-logo(35)
  &.john-ellerman-foundation-small
    +funder-logo(35, 0.6, 150px)

  &.joseph-levy-charitable-foundation
    +funder-logo(36)
  &.joseph-levy-charitable-foundation-small
    +funder-logo(36, 0.8, 150px)

  &.the-leathersellers-company
    +funder-logo(37)
  &.the-leathersellers-company-small
    +funder-logo(37, 0.6, 150px)

  &.the-bulldog-trust
    +funder-logo(38)
  &.the-bulldog-trust-small
    +funder-logo(38, 0.6, 150px)

  &.oak-foundation
    +funder-logo(39)
  &.oak-foundation-small
    +funder-logo(39, 0.6, 150px)

  &.peter-harrison-foundation
    +funder-logo(40)
  &.peter-harrison-foundation-small
    +funder-logo(40, 0.6, 150px)

  &.the-pilgrim-trust
    +funder-logo(41)
  &.the-pilgrim-trust-small
    +funder-logo(41, 0.6, 150px)

  &.prince-of-wales-charitable-foundation
    +funder-logo(42)
  &.prince-of-wales-charitable-foundation-small
    +funder-logo(42, 1, 150px)

  &.the-rank-foundation
    +funder-logo(43)
  &.the-rank-foundation-small
    +funder-logo(43, 0.6, 150px)

  &.the-rayne-foundation
    +funder-logo(44)
  &.the-rayne-foundation-small
    +funder-logo(44, 0.6, 150px)

  &.the-robertson-trust
    +funder-logo(45)
  &.the-robertson-trust-small
    +funder-logo(45, 0.6, 150px)

  &.the-roddick-foundation
    +funder-logo(46)
  &.the-roddick-foundation-small
    +funder-logo(46, 0.6, 150px)

  &.santander-foundation
    +funder-logo(47)
  &.santander-foundation-small
    +funder-logo(47, 0.9, 150px)

  &.sir-john-casss-foundation
    +funder-logo(48)
  &.sir-john-casss-foundation-small
    +funder-logo(48, 0.6, 150px)

  &.sofronie-foundation
    +funder-logo(49)
  &.sofronie-foundation-small
    +funder-logo(49, 0.6, 150px)

  &.the-stone-family-foundation
    +funder-logo(50)
  &.the-stone-family-foundation-small
    +funder-logo(50, 1, 150px)

  &.the-mercers-company
    +funder-logo(51)
  &.the-mercers-company-small
    +funder-logo(51, 1, 150px)

  &.the-wakefield-and-tetley-trust
    +funder-logo(52)
  &.the-wakefield-and-tetley-trust-small
    +funder-logo(52, 0.6, 150px)

  &.westminster-foundtion
    +funder-logo(53)
  &.westminster-foundtion-small
    +funder-logo(53, 1, 150px)
