// Place all the styles related to the organisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stat-big {
  font-size: 3em;
  font-weight: 200;
}
.stat-normal {
  font-weight: 200;
}
.stat-unit {
  font-size: 0.5em;
}
.locked-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.overview-offset, .funded-offset{
  display: block;
  position: relative;
  visibility: hidden;
}
.overview-offset {
  top: 20px;
}
.funded-offset {
  top: -40px;
}

#funder_time, #grants_size,
#recipient_age, #recipient_income,
#beneficiary_target, #beneficiary_age, #beneficiary_gender,
#recipient_staff, #recipient_volunteers,
#recipient_implement, #recipient_goods_or_services, #recipient_sells {
  height: 300px;
}

#success_rate {
  height: 200px;
}

.chart-responsive-margin {
  @media (max-width: 959px) {
    margin: 0 10px;
  }
}

.radio {
  margin: 0 12px;
  @media (max-width: 1220px) {
    margin: 0 8px;
  }
  @media (max-width: 995px) {
    margin: 0 3px;
  }
  @media (max-width: 767px) {
    margin: 0 0;
  }
}

.uk-tab {
  border-bottom: none !important;
}

.uk-tab > li.uk-active > a {
  border-top-color: transparent !important;
}

.your-data {
  position: relative;
  bottom: 11px;
  font-size: 14px;
  font-weight: normal;
  line-height: 0;
  &.age {
    left: -50px;
  }
  &.staff {
    left: -90px;
  }
  &.volunteers {
    left: -110px;
  }
  &.deliver {
    left: -90px;
  }
  &.sell {
    left: -80px;
  }
}

.morris-hover {
  position:absolute;
  z-index:1;
}

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}

.gateway-first-tab {
  border-top: 1px solid #F7BA0E;
}
