// Place all the styles related to the organisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grants_given, #grants_stages, #grants_distribution, #grants_duration, #grants_amount_category,
#org_age {
  height: 250px;
}

#org-logo {
  margin: 5px auto;
  text-indent: -9999px;
  &.logo-1 {
    width: 151px;
    height: 60px;
    position: relative;
    background: image-url('ff-logo.png') no-repeat;
  }
  &.logo-2 {
    width: 151px;
    height: 9px;
    top: 25px;
    position: relative;
    background: image-url('dulverton-logo.png') no-repeat;
  }
  &.logo-3 {
    width: 117px;
    height: 60px;
    position: relative;
    background: image-url('esmee-logo.png') no-repeat;
  }
  &.logo-4 {
    width: 151px;
    height: 35px;
    top: 12px;
    position: relative;
    background: image-url('nesta-logo.png') no-repeat;
  }
  &.logo-5 {
    width: 151px;
    height: 21px;
    top: 20px;
    position: relative;
    background: image-url('nominet-logo.png') no-repeat;
  }
}

.morris-hover {
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}
