// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tour1, #tour2, #tour3, #tour4, #tour5, #tour6 {
  width: 50%;
  min-height: 400px;
  background: #ccc;
  padding: 0 0 0 0;
  @media (max-width: 767px) {
    width: 100%;
  }
}

#tour1 {
  background: url(https://prismic-io.s3.amazonaws.com/luna/ce59d1c7df2984f0bbd2f09da0347378333a3ced_feature1.png) no-repeat;
  background-size: cover;
}
#tour3 {
  background: url(https://prismic-io.s3.amazonaws.com/luna/ce59d1c7df2984f0bbd2f09da0347378333a3ced_feature1.png) no-repeat;
  background-size: cover;
}
#tour5 {
  background: url(https://prismic-io.s3.amazonaws.com/luna/ce59d1c7df2984f0bbd2f09da0347378333a3ced_feature1.png) no-repeat;
  background-size: cover;
}

.container-l {
  float: right;
  max-width: 580px;
  padding: 0 15px 0 33px;
  @media (max-width: 1220px) {
    max-width: 490px;
    padding: 0 15px 0 38px;
  }
  @media (max-width: 995px) {
    max-width: auto;
    padding: 0 15px 0 25px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 0 25px 0 25px;
  }
}

.container-r {
  float: left;
  max-width: 580px;
  padding: 0 33px 0 15px;
  @media (max-width: 1220px) {
    max-width: 490px;
    padding: 0 38px 0 15px;
  }
  @media (max-width: 995px) {
    max-width: auto;
    padding: 0 25px 0 15px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 0 25px 0 25px;
  }
}
