@import variables

/* Modals
 ========================================================================== */

.uk-modal-dialog
  width: 675px

/* Inputs
 ========================================================================== */

.boolean
  margin-top: 10px
  margin-left: 8px
  label
    cursor: pointer
    color: $cta-base
    transition: all .25s
  input
    border: 2px solid $cta-base !important
    border-radius: 3px
    width: 18px !important
    height: 18px !important
    transition: all .25s
    &:before
      color: $cta-base !important
      line-height: 15px !important
      margin-left: 1px
    &:checked
  &:hover
    label
      color: $cta-hover
    input
      border-color: $cta-hover !important
.boolean input:checked
  border: 2px solid $cta-active !important
.boolean-padding
  @media screen and (min-width: 960px)
    padding-left: 2px !important
  @media screen and (min-width: 768px)
    padding-left: 4px !important

.radio
  margin: 0
.checkbox label, .radio label
  box-sizing: border-box
  border-radius: 3px
  border: 2px solid $cta-base
  color: $cta-base
  background: $white
  padding: 9px 8px 7px 34px
  margin: 4px
  display: inline-block
  cursor: pointer
  input
    margin: 0 8px 0 -26px
    border-radius: 3px
    width: 18px !important
    height: 18px !important
    border: 2px solid $cta-base !important
    color: $cta-active
    transition: all .25s
    &:before
      color: $cta-base !important
      line-height: 15px !important
  // refactor
  -webkit-transition: all 0.25s ease
  -o-transition: all 0.25s ease
  -moz-transition: all 0.25s ease
  -ms-transition: all 0.25s ease
  -kthtml-transition: all 0.25s ease
  transition: all .25s
  top: 0px
  width: calc(50% - 8px)
  @media screen and (max-width: 768px)
    width: calc(100% - 8px)
  &:hover
    background: $cta-alert
    border-color: $cta-active
    color: $cta-active
    input
      border-color: $cta-active !important
      background: $white

.checkbox
  &.wide
    label
      width: calc(100% - 8px)
.profile_beneficiaries_other_required
  margin: 0

#beneficiaries_other
  box-sizing: border-box
  margin-top: 8px
  margin-left: 14px
  width: calc(100% - 34px)
