// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bg {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 990;
}

.border {
  border-bottom: 2px solid #F7BA0E;
}

/* Blocks */

.tm-section, .tm-footer {
  padding: 50px 0;
}

/* Tablet and bigger */
@media (min-width: 768px) {
  .tm-section, .tm-footer {
    padding: 90px 0;
  }
}

/* Large screen and bigger */
@media (min-width: 1220px) {
  .tm-section, .tm-footer {
    padding: 135px 0;
  }
}

/* Sections */

.tm-section-color-1 {
  background: #F7BA0E;
    @media (min-width: 767px) {
    background: #F7BA0E image-url('bg_teaser.svg') 50% 50% no-repeat;
    background-size: cover;
  }
}
.tm-section-color-2 { background: #F7BA0E; }
.tm-section-color-3 { background: #F7BA0E; }

.tm-section-colored,
.tm-section-colored h1,
.tm-section-colored h2,
.tm-section-colored a:not([class]) {
  color: #fff !important;
}
