#bg
  background-color: rgba(255, 255, 255, 0.9)
  z-index: 990

.stat
  font-size: 20px

// Fade in/out
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=keyframe-opacity($to)
  to
    opacity: $to

+keyframes(fadeIn)
  +keyframe-opacity(1)
+keyframes(fadeOut)
  +keyframe-opacity(0)

=opacity-animation($animation-name)
  -webkit-animation: $animation-name .25s ease-in 1 forwards
  -moz-animation:    $animation-name .25s ease-in 1 forwards
  -o-animation:      $animation-name .25s ease-in 1 forwards
  animation:         $animation-name .25s ease-in 1 forwards

.fade-in
  opacity: 0
  +opacity-animation(fadeIn)

.fade-out
  opacity: 1
  display: none
  +opacity-animation(fadeOut)
