/* Variables
 ========================================================================== */

$background-color: #FAFAFA
$yellow: #F7BA0E
$white: #FFFFFF
$button-base: #EEEEEE
$button-base-hover: #F5F5F5
$blue: #00A8E6
$blue-hover: #35B3EE
$green: #8CC14C
$green-hover: #8EC73B
$red: #DA314B
$red-hover: #E4354F
