/* Variables
 ========================================================================== */

$background-base: #FAFAFA
$background-dark: #454545
$yellow: #F7BA0E
$white: #FFFFFF
$button-base: #EEEEEE
$button-base-hover: #F5F5F5
$blue: #00A8E6
$blue-hover: #35B3EE
$green: #8CC14C
$green-hover: #8EC73B
$red: #DA314B
$red-hover: #E4354F

// Buttons
// Primary
$blue-base: #00a8e6
$blue-hover: #00baff
$blue-active: #005d7f
$blue-alert: #e3f3f8

// New
$light-grey: #dddddd
$mid-grey: #999999

// Funders
$dark-blue: #353f45

=background-image
  background: $background-dark image-url('bg.png') 50% 50% no-repeat
  background-size: cover
