- unless recipient.has_proposal?
  .cta.wide
    .uk-grid
      .uk-width-medium-1-2.uk-margin-bottom
        .uk-vertical-align{style: 'height: 156px;'}
          %div.uk-vertical-align-middle{style: 'padding: 10px 10px 0 10px;'}
            %h3 Did you know?
            %p
              Your funding recommendations are based on your organisations
              = succeed ',' do
                = link_to 'profile', recipient_profile_path(@recipient, @recipient.profiles.last)
              and you can tell Beehive what you're seeking funds for to improve them.
      .uk-width-medium-1-2.uk-margin-bottom
        %div.shadow{style: 'border: 1px solid #ddd; border-radius: 3px; padding: 10px; color: #333; font-size: 14px; background: white;'}
          %h4.uk-text-bold Preview
          %ul.insights.uk-margin-bottom-remove.uk-text-left
            %li
              %strong 36%
              of funding was similar to the
              %strong amount
              you're seeking.
            %li
              %strong 74%
              of funding was similar to the
              %strong duration
              you're seeking.
    %a.uk-button.uk-button-large.uk-button-primary.invert.uk-width-1-1{href: new_recipient_proposal_path(recipient)} Improve my funding recommendations
