---
layout: default
---

<div class="max w1050 mx-auto mt40 flex flex-wrap items-center">
  <div class="col2 px15 mb40">
    <h1 class="bold mb20">Save time and avoid wasted effort</h1>
    <p class="h4 mb30 night">
      Insights from using open data to provide a grant funding suitability
      checking tool
    </p>
    <p>Short desc...</p>
    <ol class="mt30 ml30">
      <li>
        <a class="blue" href="{% link pages/about.md %}">About</a>
      </li>
      <li>
        <a class="blue" href="{% link pages/insights.html %}">Insights</a>
      </li>
      <li>
        <a class="blue" href="{% link pages/learning.md %}">Learning</a>
      </li>
      &middot;
      <li>
        <a
          class="blue"
          href="https://github.com/TechforgoodCAST/beehive-giving"
          target="_blank"
          rel="noopener noreferrer"
          >Source</a
        >
      </li>
    </ol>
  </div>
</div>
