---
layout: default
---

<div class="max w1050 mx-auto mt40 flex flex-wrap items-center">
  <div class="col2 px15 mb40">
    <h1 class="bold mb20">Save time and avoid wasted effort</h1>
    <p class="h4 mb30 night">
      Insights from using open data to provide a grant funding suitability
      checking tool
    </p>
    <p class="mb20">
      Beehive was a free funding suitability checking tool that used a funder’s
      guidelines, priorities and open data to produce a report (<a
        href="{{ site.baseurl }}{% link pages/example.html %}"
        >example</a
      >) that helped fund seekers decide where to apply.
    </p>
    <p class="mb20">
      After checking well over 18,000 proposals from individuals and
      organisations seeking charitable funding Beehive was retired in September
      2020.
    </p>
    <p class="mb20">
      This site includes an
      <a href="{{ site.baseurl }}{% link pages/insights.md %}">analysis</a>
      of the proposals submitted to Beehive,
      <a href="{{ site.baseurl }}{% link pages/learning.md %}">key learnings</a>
      on developing and delivering a tech for good product, as well as some
      background information
      <a href="{{ site.baseurl }}{% link pages/about.md %}">about the project</a
      >. You can find the
      <a
        href="https://github.com/TechforgoodCAST/beehive-giving"
        target="_blank"
        rel="noopener noreferrer"
        >source code</a
      >
      for the project before it was retired on GitHub.
    </p>
    <p class="mb20">
      If you have any questions about the project please contact
      <a href="mailto:support@beehivegiving.org">support@beehivegiving.org</a>.
    </p>
  </div>
</div>
