.uk-panel.chart-responsive-margin
  .uk-panel-title
    What funded organisations sell
    .uk-text-small= funding_period if @funder.grants.any?

  - if @funder.name == 'The Foundation' && Date.today.year - @years_ago != 2012
    .uk-panel-badge.uk-badge= funding_stream_label
    #recipient_sells

  - else
    = data_progress(@funder)
