%section.fs12.lh14
  = cell(:eligibility, @proposal, fund: fund).call(:index)

%section.fs12.mt20.lh14
  .blue.mb10.fs14
    %span.white.dot.dot-10.bg-blue
    Suitability

%section.fs12.mt20.lh14
  - if @proposal.eligible_status(fund.slug) == -1
    .muted
      .blue.mb10.fs14
        %span.white.dot.dot-10.bg-blue
        Apply
      .mb5
        Pending eligibility & suitability

  - elsif @proposal.eligible_status(fund.slug) == 1
    .blue.mb10.fs14
      %span.white.dot.dot-10.bg-blue
      Apply
    - if @proposal.show_fund?(fund)
      = link_to "Apply >", "#", class: 'blue'
    - else
      = link_to "Reveal & apply >", "#", class: 'blue'