%section.fs12.lh14
  = cell(:eligibility, @proposal, fund: fund).call(:index)

%section.fs12.mt20.lh14
  = cell(:suitability, @proposal, fund: fund).call(:index)

%section.fs12.mt20.lh14
  = cell(:application, @proposal, fund: fund).call(:index)
