.border.rounded.mb20{:class => { -1 => 'border-blue', 0 => 'border-red', 1 => 'border-green' }[@proposal.eligible_status(@fund.slug)]}
  .px10.py10{:class => { -1 => 'bg-blue', 0 => 'bg-red', 1 => 'bg-green' }[@proposal.eligible_status(@fund.slug)]}
    .fs15.lh20.caps.white.bold
      Analysis
  .px10.py15.fs15
    = cell(:eligibility, @proposal, fund: @fund).call(:card)
  .px10.py15.fs15
    = cell(:suitability, @proposal, fund: @fund).call(:card)
