.border.rounded.mb20{:class => { -1 => 'border-blue', 0 => 'border-red', 1 => 'border-green' }[@proposal.eligible_status(@fund.slug)]}
  .px10.py10{:class => { -1 => 'bg-blue', 0 => 'bg-red', 1 => 'bg-green' }[@proposal.eligible_status(@fund.slug)]}
    .fs15.lh20.caps.white.bold
      Analysis
  .px10.py15.fs15
    .mb20
      %span.caps.bold.light.blue
        Eligibility
      - if @proposal.checked_fund?(@fund)
        - if @proposal.eligible?(@fund.slug)
          %span.right.green
            Eligible
        - else
          %span.right.red
            Ineligible
      - else
        %span.right.blue
          Incomplete

    %ul
      - {'Location': 'location', 'Grant amount': 'amount', 'Organisation type': 'org_type', 'Organisation income': 'org_income', 'Quiz': 'quiz'}.each do |k, v|
        %li.fs14.my10
          .flex
            %div
              = cell(:fund_indicators, @fund, proposal: @proposal, criteria: v).call(:dot)
            %div.ml5
              = k
            .col
              - if v == 'quiz' && !@proposal.checked_fund?(@fund)
                = link_to 'Check', '#eligibility-quiz', class: 'blue right'
          - if @proposal.ineligible_reasons(@fund.slug).include? v
            .muted.fs12.lh15.mt5
              = cell(:eligibility_banner, @proposal, fund: @fund).call(v.to_sym)



-# .card
-#   .details
-#     .content
-#       %h4.uk-text-bold
-#         Analysis
-#         .beta.muted Beta
-#       %table.uk-table.uk-table-condensed
-#         %thead
-#           %tr
-#             %th Decision factor
-#             %th Match
-#         %tbody
-#           %tr
-#             %td
-#               Eligibility
-#             %td
-#               %strong
-#                 = fund_card_eligibility_text(fund)
-#
-#           - if @recipient.subscribed? && @proposal.ineligible_reasons(fund.slug)
-#             %tr
-#               %td.muted{ colspan: 2 }
-#                 - @proposal.ineligible_reasons(fund.slug).each do |r|
-#                   %small= cell(:eligibility_banner, @proposal, fund: fund).call(r.to_sym)
-#                   %br/
-#
-#
-#           - unless @proposal.show_fund?(fund)
-#             %tr
-#               %td.muted{ colspan: 2 }
-#                 = link_to 'Upgrade to see more', account_upgrade_path(@recipient), class: 'uk-text-bold'
-#           %tr
-#             %td Organisation
-#             %td= render_recommendation(fund, 'org_type')
-#           %tr
-#             %td.muted{ colspan: 2 }
-#               %small= raw org_type_desc(fund)
-#               %small= raw income_desc(fund)
-#           %tr
-#             %td Theme
-#             %td= render_recommendation(fund, 'theme')
-#           - if fund.open_data?
-#             %tr
-#               %td.muted{ colspan: 2 }
-#                 %small= raw beneficiaries_desc(fund)
-#
-#           = cell(:fund_card, @proposal, fund: fund).call(:location)
-#
-#           - unless @recipient.transferred?
-#             %tr
-#               %td Funding amount
-#               %td= render_recommendation(fund, 'amount')
-#             %tr
-#               %td Funding duration
-#               %td= render_recommendation(fund, 'duration')
-#
-#     - unless %w[eligibility update_eligibility apply].include?(params[:action])
-#       .card-cta
-#         .content.center
-#           = fund_card_cta_button_copy(fund)
-#         - unless params[:controller] == 'funds' && params[:action] == 'show'
-#           .content.center
-#             = link_to 'More info', proposal_fund_path(@proposal, fund)
-#
-# .uk-margin-small-top.uk-text-center
-#   %small.muted
-#     = cell(:fund_insight, fund, proposal: @proposal).call(:data_source)
