%section.perc50.md.px20.mb40
  .rounded.border.border-mist
    = cell(:current_proposal, @proposal)
%section.perc50.md.px20.mb40
  .rounded.border.border-mist
    = cell(:filter, params, proposal: @proposal, url: request.original_url)
