- params[:funding_navbar] = true
.subnav{ "data-uk-sticky" => "" }
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-2-3
        %ul.nav{ class: @current_user.role == 'Funder' ? 'funder' : 'recipient' }

          %li.muted{ title: fund.funder.name }
            = fund.funder.name.truncate(14)
          %span &rsaquo;

          %a{ href: proposal_fund_path(@proposal, fund), title: fund.name }
            %li{ class: ('active' if current_page?(proposal_fund_path(@proposal, fund))) }
              = fund.name.truncate(14)
              .highlight
          %span &rsaquo;

          %a{ href: eligibility_proposal_fund_path(@proposal, fund) }
            %li{ class: ('active' if current_page?(eligibility_proposal_fund_path(@proposal, fund))) }
              Eligiblity
              .highlight
          %span &rsaquo;

          - if @proposal.eligible?(fund)
            %a{ href: apply_proposal_fund_path(@proposal, fund) }
              %li.last{ class: ('active' if current_page?(apply_proposal_fund_path(@proposal, fund))) }
                Apply
                .highlight
          - else
            %li.muted
              Apply
