
.mb40.border.border-silver.rounded.shadow
  .p20.bg-ice
    .flex.items-center.mb5
      %h3= link_to fund.name, fund_path(fund, @proposal)

    .fs15.night
      by
      = fund.funder.name

  .p20.border-top.border-silver
    .night= raw strip_tags(fund.description_html).truncate_words(30, omission: "... #{link_to 'more', fund_path(fund, @proposal), class: 'bold'}")
