.cta.tight
  %strong Data unavailable
  %br
    = @fund.funder.name
    does not publish this information in a way that we can use to provide you with analysis. We are working hard to change this, and remember you can
    = link_to 'check your eligibility', proposal_fund_path(@proposal, @fund)
    in the meantime.
