.cta.tight
  %strong Not enough data
  %br
    = @fund.funder.name
    does not publish this information in a way that we can use to provide you with analysis. We are working hard to change this, and remember you can
    = link_to 'check your eligibility', fund_eligibility_path(@fund)
    in the meantime.
