-# Google Code for View &quot;Coming soon&quot; beta message Conversion Page
:javascript
  /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 937505505;
      w.google_conversion_label = "Dpk2COHQnm4Q4eWEvwM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
%script{:src => "//www.googleadservices.com/pagead/conversion_async.js", :type => "text/javascript"}


.uk-modal#why-hidden
  .uk-modal-dialog
    .uk-modal-close.uk-close
    %h2 Coming soon
    %p
      Dear
      = succeed ',' do
        = @current_user.first_name
    %p Thank you for using the Beehive Beta! We're working hard to add new features and funders every week.
    %p
      You are seeing message because we've currently restricted access to some parts of the site. We'll be in touch when we're ready to give access to all areas, but in the meantime be sure to check out your
      = succeed ',' do
        = link_to 'recommended funds', recommended_funds_path
      as there are no restrictions.
    %p Thank you.
    %p
      Suraj
      %br
        Creator of Beehive
    .uk-modal-footer
      .uk-width-1-1.uk-button.uk-button-large.uk-button-primary.uk-modal-close Got it
