-# Google Code for View &quot;Coming soon&quot; beta message Conversion Page
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 937505505;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "Dpk2COHQnm4Q4eWEvwM";
  var google_remarketing_only = false;
  /* ]]> */
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/937505505/?label=Dpk2COHQnm4Q4eWEvwM&guid=ON&script=0", :style => "border-style:none;", :width => "1"}

.uk-modal#why-hidden
  .uk-modal-dialog
    .uk-modal-close.uk-close
    %h2 Coming soon
    %p
      Dear
      = succeed ',' do
        = current_user.first_name
    %p Thank you for using the Beehive Beta! We're working hard to add new features and funders every week.
    %p
      You are seeing message because we've currently restricted access to some parts of the site. We'll be in touch when we're ready to give access to all areas, but in the meantime be sure to check out your
      = succeed ',' do
        = link_to 'recommended funds', recommended_funds_path
      as there are no restrictions.
    %p Thank you.
    %p
      Suraj
      %br
        Creator of Beehive
    .uk-modal-footer
      .uk-width-1-1.uk-button.uk-button-large.uk-button-primary.uk-modal-close Got it
