.uk-container.uk-container-center.uk-margin-large
  .uk-grid
    .uk-width-medium-2-3
      %h1 Funds
      %h3
        Categories
        %span
        = select_tag 'Categories', options_from_collection_for_select(ActsAsTaggableOn::Tag.order(:name), 'id', 'name'), include_blank: true
      %h3
        Current proposal
        %span
        = select_tag 'Current proposal', options_from_collection_for_select(@recipient.proposals, 'id', 'id'), include_blank: true

      .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade

        %h2 Recommended Funds
        %ul
          - @recommended_funds.each do |fund|
            %li.funder
              = fund.name
              -# |
              -# = Recommendation.where(fund: fund, proposal: @recipient.proposals.first).first.total_recommendation

        %h2 Popular Funds
        %ul
          - @popular_funds.each do |fund|
            %li
              = fund.name
