= content_for :title, "#{@theme.name} funds"

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Funds' => proposal_funds_path(@proposal), @theme.name => theme_proposal_funds_path(@proposal, @theme)
