$.UIkit.modal("#eligible").show();
- if @funder_attribute.application_link
  window.open("http://#{@funder_attribute.application_link}", "_blank");
- else
  $.UIkit.notify({message: "<i class='uk-icon-exclamation-triangle'></i><span> Sorry, this link doesn't appear to be working right now.</span>", status: 'danger', timeout: 3000, pos: 'top-center' });
