%section
  #hex-footer
  .maxw1080.mx-auto.pt120.pb15.mb30
    .flex.flex-wrap.justify-center.pt80
      .mx40.mb20
        %h2.light Ready to get started?
      .mx40.center
        = link_to 'Create an account', root_path, class: 'button white bg-blue shadow caps mb10'
        = link_to 'Read our FAQ', faq_path, class: 'button blue bg-white shadow caps mb10'
