%section
  #hex-footer
  .maxw1080.mx-auto.pt120.pb15.mb30
    .flex.flex-wrap.items-center.justify-center.pt80
      .mx40.my10
        %h3 Ready to get started?
      .mx40.my10.center
        = link_to 'Create an account', root_path, class: 'button white bg-blue shadow caps mb10'
        = link_to 'Read our FAQ', faq_path, class: 'button blue bg-white shadow caps mb10'
