%ul
  %li
    %strong Unlimited
    funding proposals analysed
  %li
    Conduct
    %strong unlimited
    eligibility checks
  %li
    Browse
    %strong all
    funds
  %li
    Browse by
    %strong funding themes
  %li
    Multiple users
    %strong (coming soon)
