-# TODO: remove subscription check
- if @current_user&.subscription_version == 1
  %ul.list.pl20
    %li
      %strong Unlimited
      funding proposals analysed
    %li
      Conduct
      %strong unlimited
      eligibility checks
    %li
      Browse
      %strong all
      funds
    %li
      Browse by
      %strong funding themes
    %li
      Multiple users
      %strong (coming soon)

- else
  Pro includes everything in Free
  = succeed ':' do
    %strong plus
  %ul.list.pl20
    %li
      Reveal the identity of
      %strong unlimited
      funds
    %li
      %strong Unlimited
      funding proposals analysed
    %li
      %strong Unlimited
      users (coming soon)
    %li
      %strong Non-recurring subscription
      by default
