%nav.md.mb40.px20
  %ul.border-bottom.border-silver.fs14
    %li.mr20.py10.inline-block{ class: ('border-bottom-thick border-blue' if current_page?(account_path)) }
      = link_to 'Account', account_path, class: 'blue'
    %li.mr20.py10.inline-block{ class: ('border-bottom-thick border-blue' if current_page?(account_organisation_path(@recipient))) }
      = link_to 'Organisation', account_organisation_path(@recipient), class: 'blue'
    %li.mr20.py10.inline-block{ class: ('border-bottom-thick border-blue' if current_page?(account_subscription_path(@recipient))) }
      = link_to 'Subscription', account_subscription_path(@recipient), class: 'blue'
    %li.mr20.py10.inline-block{ class: ('border-bottom-thick border-blue' if current_page?(proposals_path)) }
      = link_to 'Proposals', proposals_path, class: 'blue'