= content_for :title, 'My account'

:javascript
  mixpanel.track("View My account Page");
  mixpanel.identify("#{@current_user.id}");

= render partial: 'subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 User
  %h4 Some intro.
